
.services {
    padding: 80px 0 80px 20px;
    font-family: Montserrat, sans-serif;
    position: relative;
    overflow: hidden;
}

@media only screen and (min-width: 992px) {
    .services::after {
        content: "";
        width: 700px;
        height: 90%;
        background-color: #575ACE;
        position: absolute;
        right: -10px;
        top: 50%;
        border-radius: 15px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        z-index: -555;
    }
}


.services_heading h6 {
    background-image: url("../bgbtn.png");
    color: #f17732;
    font-weight: 700;
    font-size: 18px;
    padding: 3px 15px;
    margin-bottom: 20px;
}

.services_heading h2 {
    color: #1f2278;
    font-size: 36px;
    font-weight: 700;

}

.services_heading button {
    box-shadow: 0 5px 20px 0 rgba(241, 119, 50, .3);
    background-color: #f17732;
    color: #fff;
    font-size: 16px;
    padding: 20px 35px;
    line-height: 1;
    border: none;
}

.services_heading button:hover {
    box-shadow: 0 5px 20px 0 rgba(241, 119, 50, .3);
    background-color: #f49762;
    color: #fff;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.services_box {
    background: url(../images/download.png);
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .08);
    padding: 40px;
    border-radius: 20px;
}

.services_icon {
    text-align: center;
    padding: 20px;
    border: 2px solid rgba(86, 90, 207, .1);
    border-radius: 13px;
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
}

.services_box h2 {
    color: #1f2278;
    font-family: Montserrat, sans-serif;
    line-height: 1.3;
    font-size: 28px;
    font-weight: 700;

}

.services_box p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #444;
    line-height: 1.7;
}

.services_box button {
    background-color: #e1e2f6;
    border: 2px solid #e1e2f6;
    color: #565acf;
    width: fit-content;
    border-radius: 8px;
    border-width: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 15px 30px;
    transition: all .5s;
}

.services_box:hover button {
    background-color: #565acf;
    border-color: #565acf;
    color: #fff;

}

.services_box:hover .services_icon svg {
    animation: shake 0.3s;
    animation-iteration-count: infinite;
    -webkit-animation: shake 0.4s;
}

@keyframes shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}