.component-content {
    background-color: #f0f0f8;
    margin-top: 0;
    /* transform: scale(1.1s);
    transition: ease all; */
    padding-top: 50px;
    position: relative;

  /* position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  overflow: hidden; */
}
.component-content::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100px;
  background: rgba(230, 97, 30, 0.111);
  border-radius: 50%;
  transform: translateX(-50%);
  animation: wave 4s linear infinite;
}
@keyframes wave {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
/* Left section */
.about-imgs {
    /* padding: 10px; */
    margin-top: 50px;
    /* margin-right: 50px; */
}
.about-imgs ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    /* list-style-position: outside; */
}
.about-imgs ul li {
    display: inline-flex;
    margin-bottom: 20px;
    padding: 0 10px;
    list-style: none;
}
.about-imgs ul li:first-child,
li:nth-child(3),
li:nth-child(2){
    width: 45%;
}
.about-imgs .img1 {
    border-radius: 0 60px 60px;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
}
.about-imgs .img1 img {
    border-style: none;
    /* height: auto; */
    /* max-width: 100%; */
    vertical-align: middle;
}
.about-imgs img{
    max-width: 300px;
    object-fit: cover;
}
.about-imgs li{
    padding: 0;
} 


.about-imgs li img {
    width: 100%;
}

.about-imgs ul li:nth-child(4) {
    width: 55%;
}
.about-imgs .img2 {
    border-radius: 60px 0 60px 60px;
    margin-left: 20px;
    margin-top: auto;
}
.about-imgs .img2 img {
    border-style: none;
    /* height: auto; */
    max-width: 100%;
    vertical-align: middle;
}
.about-imgs .img3 {
    border-radius: 60px 60px 60px 0;
    margin-left: auto;
    margin-top: 10px;
}
.about-imgs .img3 img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.about-imgs .img-bx {
    background-color: #e6e7ff;
    border-radius: 60px 60px 0 60px;
    color: #565acf;
    display: block;
    font-size: 120px;
    font-weight: 800;
    line-height: 75px;
    padding: 60px 0 30px;
    position: relative;
    text-align: center;
    width: 220px;
    z-index: 2;
    margin-left: 20px;
}
.about-imgs .img-bx span {
    color: #1f2278;
    display: block;
    font-size: 18px;
}
.about-imgs .img-bx::after {
    border: 2px solid #565acf;
    border-radius: 60px 60px 0 60px;
    content: "";
    height: 100%;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.about-imgs::after {
        background-color: #f17732;
    border-radius: 15px;
    content: "";
    height: 50px;
    left: 45%;
    position: absolute;
    top: 45%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 50px;
}
@media (max-width: 991px) {
    .about-imgs::after{
        left: 35%;
        top: 35%;
    }
}

/* Right section */

.right-content .headig h5 {
    background-image: url(../../assets/About-Images/bgc-home-about1.png);
    background-position: 50%;
    background-repeat: repeat;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 3px 15px;
    font-family: Montserrat, sans-serif;
    line-height: 1.3;
    color: var(--orange-color);
} 
.right-content .headig h2 {
    color: #1f2278;
    font-family: Montserrat, sans-serif;
    line-height: 1.4;
    font-weight: 700;
    font-size: 35px;
    margin: 10px auto 0;
    padding: 15px;
} 

.right-content .headig p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 5px;
    margin-bottom: 35px;
}
.right-content .feature-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #565acf;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px 20px 10px 15px;
    z-index: 1;
    margin-bottom: 25px;
}
.right-content .feature-box svg {
        height: 55px;
    width: 55px;
    /* vertical-align: middle; */
}
.right-content .feature-box h4 {
    color: #1f2278;
    font-size: 16px;
    font-weight: 600;
    margin-left: 35px;
    /* margin: auto; */
    font-family: Montserrat, sans-serif;
    line-height: 1.3;
    font-size: 20px;
    font-weight: 600;
}

.right-content .bx1,
.right-content .bx2 {
        border-color: #a4fcc4;
}
.right-content .bx3{
        border-color: #ffbdbc;
}
.right-content .bx4 {
    border-color: #e2c4ff !important;
}